fastapi
uvicorn
pydantic
pandas
ntscraper
transformers
scipy
torch
requests
annotated-types
anyio
certifi
charset-normalizer
click
colorama
contourpy
cycler
exceptiongroup
fastapi
filelock
fonttools
gitdb
GitPython
h11
idna
importlib-resources
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
Pillow
psutil
py-cpuinfo
pydantic
pydantic-core
pyparsing
python-dateutil
python-multipart
